* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins";
    }

    body {
      background-color: #f9f9f9;
      color: #333;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      padding: 20px;
    }

    .container {
      width: 100%;
      height: 100%;
      max-width: 400px;
      overflow: hidden;
    }

    .header {
      text-align: center;
      font-size: 0.8rem;
      padding: 5px 0;
      color: #ff6680;
      font-weight: bold;
      font-family: "Poppins";
    }

    .header h1 { 
        width:100%; 
        text-align:center; 
        border-bottom: 2px solid #ddd; 
        line-height:0em; 
        margin:10px 0 20px; 
    }

    .header h1 span{
        background:#f9f9f9; 
        padding:0 10px; 
    }

    .offer-box {
      border: 2px solid #ddd;
      margin: 20px 0;
      padding: 20px;
      cursor: pointer;
      transition: 0.3s;
      position: relative;
      transition: background-color 0.3s ease;
    }

    .offer-box:hover {
        border: 2px solid #ff6680;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .offer-header {
        font-family: "Poppins";
        font-size: medium;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .offer-title {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .offer-title input[type="radio"] {
        appearance: none;
        width: 20px;
        height: 20px;
        border: 2px solid #ddd; 
        border-radius: 50%;
        position: relative;
        display: inline-block;
        background-color: transparent;
    }

    .offer-title input[type="radio"]:checked {
        border: 2px solid #ff6680; 
     }

     .offer-title input[type="radio"]:checked::after {
        content: "";
        position: absolute;
        top: 0.2rem;
        left: 0.2rem;
        width: 10px;
        height: 10px;
        background-color: #ff6680; 
        border-radius: 50%;
    }

    .offer {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: small;
        margin-left: 5px;
        padding: 0px 10px;
        background-color: #ff6680;
        color: white;
    }

    .badge {
      background-color: #ff6680;
      color: #fff;
      font-size: 0.8rem;
      font-weight: bold;
      padding: 2px 8px;
      border-radius: 5px;
      position: absolute;
      top: -12px;
      right: 10px;
    }

    .details {
      margin: 10px 0 0 30px;
      font-size: 12px;
      display: none;
    }

    .option-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 14px;
    }

    .option-row {
        display: flex;
        align-items: end;
        gap: 10px;
    }


    .option-group {
        width: 30%;
        display: flex;
        flex-direction: column;
    }

    .option-group label {
        margin-bottom: 5px;
        font-size: 12px;
        color: #666;
    }

    .option-group select {
        width: 100%;
    }


    .details.active {
      display: block;
    }

    select {
      width: 48%;
      padding: 5px;
      border: 1px solid #ddd;
      border-radius: 4px;
      font-size: 0.9rem;
    }

    .footer-details {
      display: flex;
      justify-content: space-between;
      font-size: medium;
      font-weight: 600;
    }

    .add-to-cart {
        margin-top: 10px;
        width: 100%;
      background-color: #ff6680;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 4px;
      font-size: small;
      cursor: pointer;
      transition: 0.3s;
    }

    .add-to-cart:hover {
      background-color: #ff5066;
    }
